Automated Car Listings Scraper.json
{
  "name": "Automated Car Listings Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -128
      ],
      "id": "60d1515a-4e01-40e6-80ee-ec70e426dfe4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://magarideals.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        -80
      ],
      "id": "d690cbf4-4d8f-4b25-81f8-7347e63c5275",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -16,
        16
      ],
      "id": "bbbdc90a-cea6-494a-8b17-e79da7e2c27b",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsCode": "// Get raw HTML/text input (adjust key if different)\nconst input = $input.first().json.data || $input.first().json;\n\n// Ensure input is a string\nconst html = typeof input === 'string' ? input : JSON.stringify(input);\n\n// Regex patterns\nconst carNameRegex = /#####\\s*\\[([^\\]]+)\\]/g;\nconst priceRegex = /Ksh\\.?([\\d,]+)/g;\n\n// Extract matches\nconst names = [...html.matchAll(carNameRegex)].map(m => m[1].trim());\nconst prices = [...html.matchAll(priceRegex)].map(m => m[1].replace(/,/g, ''));\n\n// Combine safely\nconst results = [];\n\nfor (let i = 0; i < Math.min(names.length, prices.length); i++) {\n  \n  const name = names[i];\n  const price = parseInt(prices[i], 10);\n\n  // Defensive checks\n  if (!name || isNaN(price)) continue;\n\n  results.push({\n    \"car_model_name\": name,\n    \"price\": price\n  });\n}\n\n// Return array of items (n8n format)\nreturn results.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -80
      ],
      "id": "ac82aeb5-73a1-4fb2-bac2-672550d42996",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_6eWYmY1Yc86jrDA7afQljInVcJVsWoQ1mg-qdSlX_8",
          "mode": "list",
          "cachedResultName": "Car Details ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6eWYmY1Yc86jrDA7afQljInVcJVsWoQ1mg-qdSlX_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6eWYmY1Yc86jrDA7afQljInVcJVsWoQ1mg-qdSlX_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Car Model Name ": "={{ $json.car_model_name }}",
            "Price ": "={{ $json.price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Car Model Name ",
              "displayName": "Car Model Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price ",
              "displayName": "Price ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        96
      ],
      "id": "f76e06b7-fbe1-414c-bbb6-d0dd306e6961",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwiHKdELYfbYeZwe",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "770ba079-37c2-4a45-8cd3-5737fdaa30ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b19b2666f0186c1b9469a37c465c9758b4118a6b7c948721b8fdb43fce3ad9fd"
  },
  "id": "nhLGOuZMdIl3ueGc",
  "tags": []
}